<!-- movies/home.html.erb -->
<h2>Search Movie Titles</h2>
<form name="myform" method="post" action="/movies">
  <div>
    <input type="text" name="query" placeholder="<movie search>"  required focus />
  </div>
   <div>
   </br>
    <button type="submit">Search</button>
  </div>
</form>
</br>
<h2>See Reviewed Movie List</h2>
<div>
    <a href="/reviews"><button>Get  List</button></a>
</div>